**/.DS_Store
**/__pycache__
**/.env

.vscode
intel/ckpt/*
intel/assets/*masks
intel/assets/*mp4
intel/assets/*gif
intel/assets/*
intel/*.pyc
intel/debug
intel/cym_utils
/intel/src
/intel/tracking_results
/intel/aot/results
/intel/aot/pretrain_models
/intel/aot/datasets
/intel/ast_master
intel/files/*
/intel/tutorial

